body {
  background-color: #000000;
  color: #FFFFFF;
}

div > ol {
  font-size: 16px;
}

.jumbotron_custom {
  background-color: inherit;
  color: inherit;
}

.section_head {
  border-bottom: 1px solid #FFFFFF;
}

.text_box {
  font-family: sans-serif;
  font-size: 20px;
}

.center {
  text-align: center;
}

.avatar {
  float: left;
  margin-right: 5px;
}