body {
  background-color: #000000;
  color: #FFFFFF;
}

.intro_box {
  margin-left: 50px;
  padding: 5px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  height: 150px;
}

.repository_link_box {
  padding-top: 50px;
}

.section {
  margin-bottom: 10px;
}

.section > h3 {
  border-bottom: 1px solid #FFFFFF;
}

.section > ol, ul, p {
  font-size: 16px;
}

.center {
  text-align: center;
}

.avatar {
  float: left;
  margin-right: 50px;
}

.gold_text {
  color: gold;
}