body {
  background-color: #DDFFF7;
  color: #3A3335;
}

a {
  color: #F0544F;
}

.page-header-custom {
  border-bottom-color: #3A3335;
}

.intro_box {
  margin-left: 50px;
  padding: 5px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  height: 150px;
}

.repository_link_box {
  padding-top: 50px;
}

.section {
  margin-bottom: 10px;
}

.section > h3 {
  border-bottom: 1px solid #3A3335;
}

.section > ol, ul, p {
  font-size: 16px;
}

.center {
  text-align: center;
}

.avatar {
  float: left;
  margin-right: 50px;
}

.gold_text {
  color: #5F4842;
}

.portrait {
  float: right;
  max-width: 300px;
  max-height: 300px;
}